In [21]:
import yfinance as yf
import pandas as pd
import numpy as np

In [30]:
today = yf.Ticker("HDFCBANK.NS")
today = today.history("1d")

In [31]:
cols = ["Dividends", "Stock Splits"]
today = today.drop(columns=cols)
today.index = pd.to_datetime(today.index)

In [32]:
today

,Open,High,Low,Close,Volume
Date,,,,,
2024-05-10 00:00:00+05:30,1439.0,1451.949951,1426.800049,1437.900024,13638304