In [12]:
! pip install yfinance

Requirement already satisfied: yfinance in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (0.2.38)
Requirement already satisfied: pandas>=1.3.0 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from yfinance) (3.17.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /home/thearkknight/bin/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2023.11.17)

In [26]:
import yfinance as yf
import pandas as pd

# Define the list of ticker symbols
ticker_symbols = ["AAPL", "AMZN"]

# Define the start and end dates for the historical data
start_date = "2000-01-01"
end_date = "2024-02-28"

# Download the historical data for each ticker symbol
data = {}
for ticker_symbol in ticker_symbols:
    ticker = yf.Ticker(ticker_symbol)
    history = ticker.history(period="max", start=start_date, end=end_date)
    data[ticker_symbol] = history

# Concatenate the data for each ticker symbol into a single DataFrame
df = pd.concat(data, axis=1)

# Save the DataFrame to a CSV file
df.to_csv("stock_data1.csv")

In [27]:
df = pd.read_csv("stock_data1.csv")

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6078 entries, 0 to 6077
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6077 non-null   object
 1   AAPL        6077 non-null   object
 2   AAPL.1      6077 non-null   object
 3   AAPL.2      6077 non-null   object
 4   AAPL.3      6077 non-null   object
 5   AAPL.4      6077 non-null   object
 6   AAPL.5      6077 non-null   object
 7   AAPL.6      6077 non-null   object
 8   GOOGL       4915 non-null   object
 9   GOOGL.1     4915 non-null   object
 10  GOOGL.2     4915 non-null   object
 11  GOOGL.3     4915 non-null   object
 12  GOOGL.4     4915 non-null   object
 13  GOOGL.5     4915 non-null   object
 14  GOOGL.6     4915 non-null   object
 15  AMZN        6077 non-null   object
 16  AMZN.1      6077 non-null   object
 17  AMZN.2      6077 non-null   object
 18  AMZN.3      6077 non-null   object
 19  AMZN.4      6077 non-null   object
 20  AMZN.5      6077 non-null   object
 21  AMZN.6      6077 non-null   object
dtypes: object(22)
memory usage: 1.0+ MB

In [31]:
nse = yf.Ticker("NSE")

In [32]:
nse.history(period = "max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2014-11-14 00:00:00-05:00,21.00,21.00,21.00,21.00,0,0.0,0.0,0.0
2014-11-17 00:00:00-05:00,21.00,21.00,21.00,21.00,0,0.0,0.0,0.0
2014-11-18 00:00:00-05:00,21.00,21.00,21.00,21.00,0,0.0,0.0,0.0
2014-11-19 00:00:00-05:00,21.00,21.00,21.00,21.00,0,0.0,0.0,0.0
2014-11-20 00:00:00-05:00,21.00,21.00,21.00,21.00,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2022-02-24 00:00:00-05:00,7.94,7.94,7.94,7.94,14000,0.0,0.0,0.0
2022-02-25 00:00:00-05:00,7.80,7.80,7.80,7.80,11600,0.0,0.0,0.0
2022-02-28 00:00:00-05:00,7.78,7.78,7.78,7.78,44400,0.0,0.0,0.0
2022-03-01 00:00:00-05:00,7.78,7.78,7.78,7.78,29800,0.0,0.0,0.0
2022-03-02 00:00:00-05:00,7.80,7.80,7.80,7.80,4900,0.0,0.0,0.0